.demo{
    /* margin: 20px; */
    border: 2px solid rgb(217, 44, 44);
    width: fit-content;
    padding: 50px;
    margin-left: auto;
    margin-right: auto;
    background-image:repeating-linear-gradient(yellow,orange)
}